* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary-1: rgb(182, 0, 0);
  --color-primary-2: rgb(197, 56, 56);
}

body {
  font-family: Roboto, Verdana, sans-serif;
}

h1 {
  font-size: 4rem;
}

button {
  cursor: pointer;
}

.btn-control {
  border:none;
  border-radius: 0.75rem;
  padding: 1rem 2rem;

  font:inherit;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: var(--color-primary-1);
  color:white;
  text-transform: uppercase;

  &:hover {
    background-color: var(--color-primary-2);
  }
}

.btn-toggle {
  border:none;
  border-radius: 0.75rem;
  padding-block: 1rem;

  width: 12rem;

  font:inherit;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  &[data-sketch-mode='solid'] {
    background-color: black;
    color:white;
  }

  &[data-sketch-mode='fade-start'] {
    background: linear-gradient(90deg, white, black);
    color:white;
  }
}

/* Header */
header {
  padding: 2rem;
}

.header-container {
  max-width: 65rem;
  border: 1px solid red;
  border-radius: 1rem;

  margin-inline: auto;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.fa-pencil {
  font-size: 3rem;
  color: red;
}

/* Main */
main {
  padding-inline: 2rem;
}

.sketch {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 65rem;
  margin-inline: auto;
}

.sketch-controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.sketch-selection {
  display: flex;
  gap: 0.5rem;
}

.selection-color {
  border: 1px solid black;
  height: 3.1875rem;
  aspect-ratio: 1 / 1;

  &.white {
    background-color: white;
  }

  &.black {
    background-color: black;
  }

  &.red {
    background-color: red;
  }

  &.green {
    background-color: green;
  }

  &.blue {
    background-color: blue;
  }

  &.random {
    background: linear-gradient(120deg, red, orange,white,green,violet, blue);
  }
}

.selection-color[aria-checked='true'] {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(112, 112, 112);
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(70% 0, 100% 30%, 100% 0);
  }
}

.sketch-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-inline: auto;
  width: 100%;
  max-width: 35rem;
  aspect-ratio: 1 / 1;
  

  .sketch-row {
    flex: 1 1;
    display: flex;
  }

  .sketch-block {
    flex: 1 1;
    border: 1px solid black;
    user-select: none;
  }
}